/* SecondPage.css */

.second_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.part_one,
.part_two {
  padding: 20px;
  height: 90%;
  width: 50%;
  padding: 8px;
  margin: 8px;
  overflow: hidden;
  white-space: pre-line;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #00000081;
  max-width: 500px;
}

.part_one {
  text-align: left;
  text-align: justify;
}

.part_two {
  width: 50%; /* Adjust the width as per your design */
  text-align: left;
}

@media screen and (max-width: 768px) {
  .part_one,
  .part_two {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .part_one,
  .part_two {
    font-size: 18px;
  }
}


/* Small screens (mobile phones) */
@media screen and (max-width: 767px) {
  /* Responsive settings for small screens like mobile phones */
}

/* Mobile phones and portrait-oriented tablets (low width) */
@media screen and (max-width: 991px) {
  /* Responsive settings for mobile phones and portrait-oriented tablets */
}

/* Mobile phones and portrait-oriented tablets (low width) with portrait media feature */
@media screen and (max-width: 991px) and (orientation: portrait) {
  /* Responsive settings for mobile phones and portrait-oriented tablets */
}

/* Tablets with higher width */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Responsive settings for tablets with higher width */
}

/* Laptops and desktops */
@media screen and (min-width: 992px) {
  /* Responsive settings for laptops and desktops */
}

/* Anything larger than a typical monitor */
@media screen and (min-width: 1200px) {
  /* Responsive settings for pages using larger monitors */
}
