@media screen and (max-width: 768px) {
  .part_one,
  .part_two {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .part_one,
  .part_two {
    font-size: 18px;
  }
}

/* Small screens (mobile phones) */
@media screen and (max-width: 767px) {
  .part_one,
  .part_two {
    font-size: 12px;
  }
  /* Responsive settings for small screens like mobile phones */
}

/* Mobile phones and portrait-oriented tablets (low width) */
@media screen and (max-width: 991px) {
  /* Responsive settings for mobile phones and portrait-oriented tablets */
}

/* Mobile phones and portrait-oriented tablets (low width) with portrait media feature */
@media screen and (max-width: 991px) and (orientation: portrait) {
  /* Responsive settings for mobile phones and portrait-oriented tablets */
}

/* Tablets with higher width */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Responsive settings for tablets with higher width */
}

/* Laptops and desktops */
@media screen and (min-width: 992px) {
  /* Responsive settings for laptops and desktops */
}

/* Anything larger than a typical monitor */
@media screen and (min-width: 1200px) {
  /* Responsive settings for pages using larger monitors */
}
