@media screen and (max-width: 768px) {
  .part_one,
  .part_two {
    font-size: 13px;
    max-width: 100%;
  }
  .navbar {
    justify-content:center;
    margin-top: 15px;
  }
  .navbar button {
    padding: 5px 10px;
    font-size: 14px;
    min-width: 100px;
    min-width: 100px;
  }

  .navbar button:hover {
    background-color: #ff000000;
  }

  .form-group {
    min-width: 300px;
  }

  .user-message{
    min-height: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .part_one,
  .part_two {
    font-size: 18px;
  }

}

/* Small screens (mobile phones) */
@media screen and (max-width: 767px) {
  .part_one .part_one{
    font-size: 12px;
  }
    .mern_logo{
      width: 50%;
  }
  /* Responsive settings for small screens like mobile phones */
}

/* Mobile phones and portrait-oriented tablets (low width) */
@media screen and (max-width: 991px) {
  .horizontal-gallery {
    width: 85%;
  }
  .gallery-button{
    font-size: 30px;
  }
  .horizontal-gallery .left {
    left: -1%;
    top: 43%;
  }
  
  .horizontal-gallery .right {
    right: -1%;
    top: 43%;
  }
  /* Responsive settings for mobile phones and portrait-oriented tablets */
}

/* Mobile phones and portrait-oriented tablets (low width) with portrait media feature */
@media screen and (max-width: 991px) and (orientation: portrait) {
  /* Responsive settings for mobile phones and portrait-oriented tablets */
}

/* Tablets with higher width */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Responsive settings for tablets with higher width */
}

/* Laptops and desktops */
@media screen and (min-width: 992px) {
  /* Responsive settings for laptops and desktops */
}

/* Anything larger than a typical monitor */
@media screen and (min-width: 1200px) {
  /* Responsive settings for pages using larger monitors */
}


/* Arrow next page styles */